1-s2.0-S1474667017555342-main.pdf
ASAM_AE_HIL_BS-1-3_API-for-ECU-Testing-via-HIL-Simulation_V1-0-2.pdf
Automotive Embedded Systems Handbook.pdf
AV13_L5.pdf
CAN System Engineering.pdf
tempCodeRunnerFile.py
Understanding and Using the Controller Area Network Communication Protocol Theory and Practice.pdf
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Scania.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
CS testing/4 Risk Evaluation_risksheet.xlsx
CS testing/CS_presentation.docx
CS testing/Cyber attacks on CAN protocol.pdf
CS testing/Cybersecurity architecture.pdf
CS testing/Cybersecurity Test Execution Communication.pdf
CS testing/CybersecurityTestMethods.pdf
CS testing/Detection of msg injection on CAN.pdf
CS testing/Security evaludation of ECU update process.pdf
CS testing/TB4677.pdf
CS testing/TB4680_Complete_Vehicle_Integration_test.pdf
CS testing/TB4682_Test_Strategy_-_User_Function_Level.pdf
CS testing/TB4686_Test_strategy_-_SESAMM_system.pdf
CS testing/TB4690_Embedded_systems_-_Long_Term_test_strategy.pdf
CS testing/TB4770_Embedded_Systems_Requirement_Management.pdf
CS testing/TB4943_Software_Unit_Verification_for_Functional_Safety.pdf
CS testing/TB5031_Cyber_Security_Concept.pdf
CS testing/TB5037_Cybersecurity_Test_Strategy.pdf
CS testing/tesi_palanca.pdf
CS testing/TestPlan_Cybersecurity_TestLinker_instructions.pptx
CS testing/Trucker_Hackers_Toolbox_Setup.pdf
CS testing/Vehicle CS threats and mitigation.pdf
chumma.py
Pendulum_ Controlling an inverted pendulum using fuzzy logic.pdf
.idea/vcs.xml
__pycache__/testing.cpython-310.pyc
